.node {
    fill: rgb(31,119,180);
    
}
.node-selected{
	fill: rgb(20,80,200);
	stroke: black;
	stroke-width: 2px;
}
.link {
    stroke: #0A112D;
    stroke-width: 1px;
}

.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: rgb(255,152,150);   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}
